.fleft {float:left;}
.fright {float:right;}

.right{text-align:right;}
.center{text-align:center;}

.tiny {font-size:9.1pt;}

/*
 */

.hidden { visibility: hidden;}
.visible {visibility:visible;}
.noDisplay {display:none;}
/*
  Styles
 */
.bold { font-weight: bold; }
.italic { font-style: italic;}
.warning {color:red;}
.notice { color: blue; }

select, select option {
  font-family:inherit;
  font-size:inherit;
  font-style:inherit;
  color:inherit;
  background-color:inherit;
}

.explication {
  font-style:italic;
  font-size:0.85em;
}

.blue{color:blue;}
.red{color:red;}
.orange{color:orange;}
.green{color:green;}
