/* Le bloc contenant la proximité courante */

div#full_texte .mot {
  border:1px solid transparent;
}
div#full_texte .mot.exergue {
  color:red;
}

div#full_texte .mot.dblprox {
  border-width:1px 12px;
  padding-right:4px;
  padding-left:4px;
}
div#full_texte .mot.prox-left {
  border-width: 1px 1px 1px 12px;
  padding-right:4px;
  padding-left:4px;
}
div#full_texte .mot.prox-right {
  border-width: 1px 12px 1px 1px;
  padding-left:4px;
  padding-right:4px;
}

div#full_texte .mot.danger {
  background-color:red;
  color:white;
}

div#full_texte br {
  display:block;
  margin-top:1em;
  content:" ";
}
