/* Le bloc contenant la proximité courante */

div#full_texte .mot {
  border:1px solid transparent;
}
div#full_texte .mot.exergue {
  color:red;
}

div#full_texte .mot.danger {
  background-color:red;
  color:white;
}
