/* Le bloc contenant tout le texte */
body > section#left-column #full_texte {
  position:fixed;
  top:80px;
  border:1px dashed green;
  width:44%;
  min-height:500px;
  overflow:auto;
  font-size:16.1pt;
  padding:44px;
  text-align:justify;
  font-family:Georgia;
}

body > section#left-column #infos_current_proximity {
  text-align:center;
  font-family:Arial;
  font-size:9pt;
}

body > section#left-column #infos_danger_proximity {
  text-align:center;
  font-family:Arial;
  font-size:9pt;
  color:red;
  font-weight:bold;
}

body > section#right-column #infos_texte {
  width:90%;
}

section#middle-column div.buttons {
  display:inline-block;
  border-radius:1em;
  padding:0.5em 0.4em 0.3em;
  clear:both;
}
div#buttons_proximites {
  background-color:#4C0707;
  color:white;
}
div#buttons_proximites button {
  display:block;
}
div.buttons button
{
  all:unset;
  font-family: unset;
  font-size:30pt;
  padding: 0 4px;
  border:2px solid transparent;
}

div.buttons button:active {
  background-color:green;
}
div.buttons button:hover {
  border-color:green;
}

section#middle-column div#prox_message {
  padding:1em;
  font-size:1.1em;
  font-family:Arial,Helvetica;
}
