/*
  Pour supprimer tous les styles sur les paragraphes editorjs
 */
.ce-paragraph{line-height:unset!important;}
.cdx-block{padding:unset!important;}

.ce-block__content{
  /* Pour contrer le fait qu'ils forcent une largeur max */
  max-width:unset!important;
}
@media (min-width: 651px){
  .codex-editor--narrow .codex-editor__redactor {
    margin-right:unset!important;
  }
}

/* Les blocs contenant tout le texte */
section#tagged-pages,
section#working-pages
 {
  position:fixed;
  top:0;
  border:1px dashed green;
  width:640px;
  min-height:500px;
  height:100%;
  overflow:auto;
  font-size:16.1pt;
  padding:44px;
  text-align:justify;
  font-family:Georgia;
  line-height:1.45em;
}
section#tagged-pages {
  opacity:0.5;
}

section#working-pages div.page {
  width:100%;
  height:inherit;
}

body #infos_current_proximity {
  text-align:center;
  font-family:Arial;
  font-size:9pt;
}

body #infos_danger_proximity {
  text-align:center;
  font-family:Arial;
  font-size:9pt;
  color:red;
  font-weight:bold;
}

body > section#right-column #infos_texte {
  width:90%;
}

section#footer div.buttons {
  display:inline-block;
  clear:both;
}
div#buttons_proximites {
  color:white;
}
div#buttons_proximites button {
}
div.buttons button
{
  all:unset;
  font-family: unset;
  font-size:15pt;
  padding:0;
  border:2px solid transparent;
}

div.buttons button:active {
  background-color:green;
}
div.buttons button:hover {
  cursor: pointer;
}

div.buttons button.pressable {
  border-width:3px;
  border-style:solid;
  border-color:#BBBBBB #333333 #333333 #BBBBBB;
  border-radius:8px;
  font-size:15px;
  padding:0 7px;
  text-align:center;
  margin-left:6px;
  color:black;
}
div.buttons button.pressed {
  background-color:#21ab00;
  border-color:#333333 #BBBBBB #BBBBBB #333333;
  color:lime;
  font-weight:bold;
}

section#middle-column div#prox_message {
  padding:1em;
  font-size:1.1em;
  font-family:Arial,Helvetica;
}
