<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>BuildMachineOSBuild</key>
	<string>19A583</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scrivx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScrivenerXML</string>
			<key>CFBundleTypeName</key>
			<string>Scrivener XML document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>scrivx</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SCRMainDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scriv</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScrivenerDocument</string>
			<key>CFBundleTypeName</key>
			<string>Scrivener Project</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>scriv</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<string>YES</string>
			<key>NSDocumentClass</key>
			<string>SCRMainDocument</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scrivtemplate</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>ScrivenerTemplate</string>
			<key>CFBundleTypeName</key>
			<string>Scrivener Template</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>NSDocumentClass</key>
			<string>SCRMainDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>scrformat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>CompileFormat</string>
			<key>CFBundleTypeMIMETypes</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Scrivener Compile Format</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSTypeIsPackage</key>
			<integer>0</integer>
			<key>NSDocumentClass</key>
			<string>SCRMainDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Scrivener</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>Scrivener Help</string>
	<key>CFBundleIconFile</key>
	<string>Scrivener</string>
	<key>CFBundleIconName</key>
	<string>Scrivener</string>
	<key>CFBundleIdentifier</key>
	<string>com.literatureandlatte.scrivener3</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Scrivener</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.1.4</string>
	<key>CFBundleSignature</key>
	<string>Scrv</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Scrivener Reference</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-scrivener-item</string>
			</array>
			<key>LSIsAppleDefaultForScheme</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>12105</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>11A420a</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>19A547</string>
	<key>DTSDKName</key>
	<string>macosx10.15</string>
	<key>DTXcode</key>
	<string>1100</string>
	<key>DTXcodeBuild</key>
	<string>11A420a</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.12</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>Scrivener uses Apple Events to communicate with MathType for inserting equations, for receiving text from bibliography managers, and to allow quick access to the system's text preferences.</string>
	<key>NSContactsUsageDescription</key>
	<string>This will let Scrivener perform common auto-population tasks such as automatically adding your name and address to title pages. To change this setting, open System Preferences and choose Security &amp; Privacy. If you would prefer not to give Scrivener access to Contacts, or if you wish to use different contact details for your writing, you can add your name and address to Scrivener's Preferences.</string>
	<key>NSHumanReadableCopyright</key>
	<string>© Literature &amp; Latte 2005-2019</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>SCRApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Scrivener/Scrivener: Make New Clipping</string>
			</dict>
			<key>NSMessage</key>
			<string>createClipping</string>
			<key>NSPortName</key>
			<string>Scrivener</string>
			<key>NSSendTypes</key>
			<array>
				<string>com.apple.flat-rtfd</string>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Scrivener/Scrivener: Make New Clipping (Unformatted)</string>
			</dict>
			<key>NSMessage</key>
			<string>createPlainTextClipping</string>
			<key>NSPortName</key>
			<string>Scrivener</string>
			<key>NSSendTypes</key>
			<array>
				<string>com.apple.flat-rtfd</string>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Scrivener/Scrivener: Append to Text</string>
			</dict>
			<key>NSMessage</key>
			<string>appendSelection</string>
			<key>NSPortName</key>
			<string>Scrivener</string>
			<key>NSSendTypes</key>
			<array>
				<string>com.apple.flat-rtfd</string>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Scrivener/Scrivener: Append to Text (Unformatted)</string>
			</dict>
			<key>NSMessage</key>
			<string>appendSelectionAsPlainText</string>
			<key>NSPortName</key>
			<string>Scrivener</string>
			<key>NSSendTypes</key>
			<array>
				<string>com.apple.flat-rtfd</string>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Scrivener/Scrivener: Append to Notes</string>
			</dict>
			<key>NSMessage</key>
			<string>appendSelectionToNotes</string>
			<key>NSPortName</key>
			<string>Scrivener</string>
			<key>NSSendTypes</key>
			<array>
				<string>com.apple.flat-rtfd</string>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>Scrivener/Scrivener: Append to Notes (Unformatted)</string>
			</dict>
			<key>NSMessage</key>
			<string>appendSelectionToNotesAsPlainText</string>
			<key>NSPortName</key>
			<string>Scrivener</string>
			<key>NSSendTypes</key>
			<array>
				<string>com.apple.flat-rtfd</string>
				<string>public.rtf</string>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
	</array>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://www.literatureandlatte.com/downloads/scrivener-3.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Scrivener Compile Format</string>
			<key>UTTypeIconFile</key>
			<string>CompileFormat</string>
			<key>UTTypeIdentifier</key>
			<string>com.literatureandlatte.scrformat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>scrformat</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
